.class1 {
    background-color: rgb(12, 74, 85);
    color: #fff;
}
.class2{
    color: rgb(171, 228, 237);
    font-size: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.class3{
    background-color: crimson;
    color: rgb(171, 228, 237);
    font-size: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.class4{
    background-color: rgb(117, 26, 134);
    color: rgb(171, 228, 237);
    font-size: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.class5{
    background-color: rgb(30, 93, 23);
    color: rgb(171, 228, 237);
    font-size: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.white-text {
    color:white;
}