<div class="row">
    <div class="col-md-10">
        <div class="card">
            <div class="card-header">
              Subs example 2
            </div>
            <div class="card-body">
                <h3> Testing of Observable:<span class="text-primary">{{obsName}}</span></h3>
                <input type="text" placeholder="enter text here" class="form-control mb-2" #obsr>
              
                <button class="btn btn-primary" (click)="onChange(obsr)">Change</button> 
            </div>
          </div>
    </div>
</div>
