<body>
    <div class="app-wrapper">
        <div class="app-header">

            <h2 *ngIf="chatType == 'single'">{{selectedUser?.['firstname'] }} {{ selectedUser?.['lastname'] }}</h2>

            <h2 *ngIf="chatType == 'group'">{{selectedUser?.['group_name'] }}</h2>

            <span class="friend-status" *ngIf="chatType == 'single'">Online</span>

            <span class="friend-status" *ngIf="chatType == 'group'">
                <span *ngFor="let item of selectedUser?.['user']">
                    {{item.firstname}} {{item.lastname}},
                </span>
            </span>
            
        </div>

        <div *ngIf="previousMsgs && previousMsgs?.length > 0">
            <div class="app-message-body" *ngFor="let item of previousMsgs;let i = index">

                <div class="message-wrapper" *ngIf="item?.isReceiver == true">
                    <div class="message">
                        <span>{{ item.message }}</span>
                    </div>
                    <div class="message-meta">
                        <div class="sender-avatar">{{item.sender.firstname.charAt(0)}}{{item.sender.lastname.charAt(0)}}
                        </div>
                        <span class="timestamp">{{item.createdAt | date: 'dd-MM-YY'}}</span>
                    </div>
                </div>

                <div class="message-wrapper" *ngIf="item?.isSender == true">
                    <div class="message">
                        <span>{{ item.message }}</span>
                    </div>
                    <div class="message-meta">
                        <div class="sender-avatar">{{item.sender.firstname.charAt(0)}}{{item.sender.lastname.charAt(0)}}
                        </div>
                        <span class="timestamp">{{item.createdAt | date: 'dd-MM-YY'}}</span>
                    </div>
                </div>
            </div>
        </div>

        <div *ngIf="previousGroupMsgs && previousGroupMsgs?.length > 0">
            <div class="app-message-body" *ngFor="let item of previousGroupMsgs;let i = index">

                <div class="message-wrapper" *ngIf="item?.isReceiver == true">
                    <div class="message">
                        <span>{{ item.message }}</span>
                    </div>
                    <div class="message-meta">
                        <div class="sender-avatar">{{item.sender.firstname.charAt(0)}}{{item.sender.lastname.charAt(0)}}
                        </div>
                        <span class="timestamp">{{item.createdAt | date: 'dd-MM-YY'}}</span>
                    </div>
                </div>

                <div class="message-wrapper" *ngIf="item?.isSender == true">
                    <div class="message">
                        <span>{{ item.message }}</span>
                    </div>
                    <div class="message-meta">
                        <div class="sender-avatar">{{item.sender.firstname.charAt(0)}}{{item.sender.lastname.charAt(0)}}
                        </div>
                        <span class="timestamp">{{item.createdAt | date: 'dd-MM-YY'}}</span>
                    </div>
                </div>
            </div>
        </div>

        <form [formGroup]="chatForm" (ngSubmit)='sendMessage()'>
            <div class="app-input-area">
                <div class="form-group">
                    <label for="message"></label>
                    <input type="text" formControlName="message" class="form-control"
                        placeholder="Your message here..." />
                </div>

                <button type="submit">
                    <svg viewBox="0 0 512 512" x="0px" y="0px" style="enable-background: new 0 0 512 512" width="25"
                        height="25" title="paper-plane">
                        <path fill=""
                            d="M476 3.2L12.5 270.6c-18.1 10.4-15.8 35.6 2.2 43.2L121 358.4l287.3-253.2c5.5-4.9 13.3 2.6 8.6 8.3L176 407v80.5c0 23.6 28.5 32.9 42.5 15.8L282 426l124.6 52.2c14.2 6 30.4-2.9 33-18.2l72-432C515 7.8 493.3-6.8 476 3.2z" />
                    </svg>
                </button>
            </div>
        </form>
    </div>

</body>