<nav class="navbar navbar-expand-lg bg-light">
    <div class="container-fluid">
        <button class="btn btn-primary" (click)="logout()">LogOut</button>

        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav" *ngIf="token">
                <li class="nav-item" *ngIf="!token">
                    <a class="nav-link" routerLink="/authentication">Authentication</a>
                </li>
                <!-- <ul *ngIf="token"> -->
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" routerLink="/subjects">Subject</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="/promises">Promise</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="/async-await">Async Await</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="/data-binding">Data Binding</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="/directives">Directives</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="/course-project">Course Project</a>
                    </li>
                
                    <li class="nav-item">
                        <a class="nav-link" routerLink="/test">Test</a>
                    </li>
                <!-- </ul> -->
            </ul>
        </div>
        
        
    </div>
</nav>